<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Search Page!</h1>
    {%for service in all_service%}
        <div>
            {%if service.gender == 0%}
                <img src="../static/image/male-profile.jpg" alt="">
            {%else%}
                <img src="../static/image/female-profile.jpg" alt="">
            {%endif%}
            <p>ID: {{ service.id}}</p>
            <p>Name: {{ service.name}}</p>
            <p>YOB: {{ service.yob}}</p>
            <p>Gender: {{ service.gender}}</p>
            <p>Address: {{ service.address}}</p>
            <p>Height: {{ service.height}}</p>
            <p>Status: {{ service.status}}</p>
        </div>
        <hr>
    {%endfor%}
</body>
</html>