<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <img src="{{ detail.image}}" alt="">
    <h1>{{detail.name}}</h1>
    <p><b>Năm sinh: </b>{{detail.yob}}</p>
    <p><b>Cao: </b>{{detail.height}}</p>
    <p><b>Số điện thoại: </b>{{detail.phone}}</p>
    <p><b>Địa chỉ: </b>{{detail.address}}</p>
    <p><b>Mô tả: </b>{{detail.description}}</p>
    <p><b>Số đo 3 vòng: </b>{%for sodo in detail.measurements%} {{sodo}}{%endfor%}</p>
</body>
</html>