<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bài Tập Số 02</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/bai2.css" />
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="left-container">
                <div class="left-top">

                </div>
                <div class="left-middle">
                        
                </div>
                <div class="left-bottom">

                </div>
            </div> 
            <div class="right-container">

            </div> 
        </div>
        <div class="footer">
            This is footer!
        </div>

    </div>
</body>
</html>