<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>River!!!!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>All Africa River!</h1>
    {%for river in africa_river%}
    <p><b>Name: </b>{{river.name}}</p>
    <p><b>Continent: </b>{{river.continent}}</p>
    <p><b>Length: </b>{{river.length}}</p>
    <hr>
    {%endfor%}
</body>
</html>