<div class="container mg-top-bottom-40px align-middle">
    <div class="row">
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
        <div class="col-md-3 mb-3">
            <img class="card-img-top" 
                    style="height: 200px; width: 100%; display: block;" src="../../static/image/rocks.jpg">
        </div>
    </div>
</div>
</div>