<div class="text-center pd-50px">
    <h4 class="text-dark">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h4>
    <p class="font-lobster text-dark">Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình và người thân, trong khi vẫn giữ được sự tự do
        và riêng tư, hãy quyết định.</p>

    <div class="d-flex justify-content-around">
        <div class="container-image">
            <img src="../../static/image/female.jpg" class="img-fluid">
            <div class="text-image-block text-image-block-right">
                <p>Bạn là Nam!</p>
            </div>
        </div>
        <div class="container-image">
                <img src="../../static/image/male.jpg" class="img-fluid">
                <div class="text-image-block text-image-block-left">
                    <p>Bạn là Nữ!</p>
                </div>
            </div>
    </div>

</div>
</div>
</div>